.toggle {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  display: grid;
  gap: 0.25rem;
  grid-template-columns: auto auto auto;
  border: none;
  margin: 0;
  align-items: center;
  justify-content: end;
  padding: 0;
}

.toggle label {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--toggle-color);
}

.toggle__wrapper {
  position: relative;
  height: 1.25rem;
  width: 2.5rem;
}

.toggle input[type="radio"] {
  opacity: 0;
  width: 1.25rem;
  height: 1.25rem;
}

.toggle__background {
  display: block;
  height: 100%;
  position: absolute;
  width: 2.5rem;
  height: 1.25rem;
  top: 0;
  border-radius: 1.25rem;
  background: var(--toggle-bg-f);
  pointer-events: none;
}
.toggle__button {
  position: absolute;
  left: 0.3125rem;
  top: 0.1875rem;
  right: 100%;
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 50%;
  background-color: var(--toggle-color);
  transition: all 150ms ease-in-out;
}
.toggle #celsius:checked ~ .toggle__button {
  left: 1.25rem;
}
.toggle #celsius:checked ~ .toggle__background {
  background: var(--toggle-bg-c);
}

@media (min-width: 48rem) {
  .toggle {
    top: 3.125rem;
    right: 3.125rem;
  }

  .toggle label {
    font-size: 0.9375rem;
    margin-left: 0.0625rem;
    margin-right: 0.0625rem;
  }

  .toggle__wrapper {
    height: 1.875rem;
    width: 3.125rem;
  }

  .toggle input[type="radio"] {
    width: 1.5625rem;
    height: 1.875rem;
    cursor: pointer;
  }

  .toggle__background {
    width: 3.125rem;
    height: 1.875rem;
  }
  .toggle__button {
    top: 0.3125rem;
    width: 1.25rem;
    height: 1.25rem;
  }
  .toggle #celsius:checked ~ .toggle__button {
    left: 1.5625rem;
  }
}
