.container-lang-selector {
  display: inline-block;
  width: 10.625rem;
  font-size: 0.625rem;
  text-align: center;
}

.flags-container {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}

.text-container {
  margin-top: 0.1875rem;
}
