.container-search {
  width: 20.875rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-title {
  margin-top: 0;
  margin-bottom: 1.25rem;
  font-size: 1.875rem;
  text-align: center;
  letter-spacing: 0.075rem;
}

.letter-spacing {
  letter-spacing: 0.26rem !important;
}

.search-bar {
  background-color: var(--search-bar-color);
  border: none;
  border-radius: 0.635rem;
  width: calc(100% - 2 * 0.9375rem);
  height: 1.25rem;
  padding: 0.9375rem;
  color: var(--placeholder-color);
  font-size: 1rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  caret-color: var(--caret-color);
}

.search-bar:focus {
  outline: none;
}
.search-bar-active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.container-autocomplete {
  position: absolute;
  top: 8.75rem;
  height: 7.5rem;
  overflow: scroll;
  width: 100%;
  background-color: var(--search-bar-color);
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.container-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.9375rem;
}

.link {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--placeholder-color);
}

.link:hover {
  color: var(--text-hover-color);
}

@media (min-width: 48rem) {
  .container-search {
    width: 44.375rem;
  }

  .main-title {
    font-size: 2.6875rem;
    letter-spacing: 0.368rem;
  }

  .search-bar {
    font-size: 1.25rem;
  }

  .link {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .container-autocomplete {
    position: absolute;
    top: 7.5rem;
    height: 8.1865rem;
  }
}
